.cs-card {
    margin-top: .75rem; 
    border-radius: .75rem;
    width: 100%;
    max-height: 20rem;

    background: #2a2a2a;
    color: white;
}

.cs-card-content {
    margin: 1.5rem;
}

.cs-card-type {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: .6rem;
    color: #bfbfbf;
}

.cs-card-answer {
    overflow: auto;
}