.cs-card {
    margin-top: .75rem; 
    margin-bottom: 1rem;
    
    border-radius: .75rem;
    width: 100%;

    overflow: hidden;

    background: #2a2a2a;
    color: white;
    box-shadow: 0px 4px 8px #00000050;
}

.cs-card-content {
    margin: 1.5rem;
}

.cs-card-info {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: .6rem;
    color: #bfbfbf;
}

.cs-card-answer {
    overflow: auto;
    max-height: 15rem;
}


pre {
    background: #1a1a1a;
    counter-reset: line;
    overflow: auto;
}

/* WIP - LINE COUNT
 * pre code:before {
 *     counter-increment: line;
 *     content: counter(line);
 *     display: inline-block;
 *     padding: 0 .5em;
 *     margin-right: .5em;
 *     color: #888
 * }
 */

/* ========== */
/* SCROLLBARS */

/* Answer */
.cs-card-answer::-webkit-scrollbar {
    background-color: #131616;
    color: #b9af9d;
}

/* Code blocks */
pre::-webkit-scrollbar {
    background-color: #1a1a1a;
    color: #b9af9d;
}

/* Common */
.cs-card-answer::-webkit-scrollbar-corner,
pre::-webkit-scrollbar-corner {
    background-color: #090b0c;
}

.cs-card-answer::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb {
    background-color: #404444;
}