.cs-card {
    margin-top: .75rem; 
    border-radius: .75rem;
    width: 100%;

    overflow: hidden;

    background: #2a2a2a;
    color: white;
}

.cs-card-content {
    margin: 1.5rem;
}

.cs-card-info {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: .6rem;
    color: #bfbfbf;
}

.cs-card-answer {
    overflow: auto;
    max-height: 15rem;
}


pre {
    background: #1a1a1a;
    counter-reset: line;
    overflow: auto;
}

/* WIP - LINE COUNT
 * pre code:before {
 *     counter-increment: line;
 *     content: counter(line);
 *     display: inline-block;
 *     padding: 0 .5em;
 *     margin-right: .5em;
 *     color: #888
 * }
 */